AidooWIFIModbus.json
[{"id":"9b767865f34dd0a4","type":"tab","label":"Airzone Aidoo Modbus","disabled":false,"info":"","env":[]},{"id":"a425c274782021da","type":"modbus-read","z":"9b767865f34dd0a4","name":"Aidoo","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"5","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"4ba90fedac0858b8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":170,"y":160,"wires":[["74fceb3e5b88fc37"],[]]},{"id":"e840271cdee98430","type":"debug","z":"9b767865f34dd0a4","name":"debug 229","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":20,"wires":[]},{"id":"74fceb3e5b88fc37","type":"buffer-parser","z":"9b767865f34dd0a4","name":"Parseador Aidoo","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"ONOFF","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"SETPOINT","offset":2,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int16be","name":"LOCALTEMP","offset":4,"length":1,"offsetbit":0,"scale":"/10","mask":""},{"type":"int16be","name":"MODES","offset":6,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"int16be","name":"SPEEDS","offset":8,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":350,"y":160,"wires":[["e840271cdee98430","e9b08fe11e420875","746ef9a3d41b737c","c86765a828cef3e5","2c675c92906ebd9c","e7878f4759f6d5fd"]]},{"id":"ac1c553aa25d3268","type":"comment","z":"9b767865f34dd0a4","name":"Polling Aidoo","info":"","x":170,"y":100,"wires":[]},{"id":"e9b08fe11e420875","type":"ha-binary-sensor","z":"9b767865f34dd0a4","name":"ONOFF","entityConfig":"3774f5f79ad35c81","version":0,"state":"payload.ONOFF","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":620,"y":80,"wires":[[]]},{"id":"746ef9a3d41b737c","type":"ha-sensor","z":"9b767865f34dd0a4","name":"SETPOINT","entityConfig":"4886f9b80f14293b","version":0,"state":"payload.SETPOINT","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":630,"y":140,"wires":[[]]},{"id":"c86765a828cef3e5","type":"ha-sensor","z":"9b767865f34dd0a4","name":"LOCALTEMP","entityConfig":"ff6e4de3b6e421b9","version":0,"state":"payload.LOCALTEMP","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":640,"y":200,"wires":[[]]},{"id":"2c675c92906ebd9c","type":"ha-sensor","z":"9b767865f34dd0a4","name":"MODES","entityConfig":"c7b4021aebfa89be","version":0,"state":"payload.MODES","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":620,"y":260,"wires":[[]]},{"id":"e7878f4759f6d5fd","type":"ha-sensor","z":"9b767865f34dd0a4","name":"SPEEDS","entityConfig":"6a6951a4a1f1e922","version":0,"state":"payload.SPEEDS","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":620,"y":320,"wires":[[]]},{"id":"45ee8fb5d20fdbfe","type":"server-state-changed","z":"9b767865f34dd0a4","name":"ONOFF Aire Salón","server":"14a7116f.656e3f","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_button.boton_airesalon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":440,"wires":[["b05921e4eaba26a8"]]},{"id":"11677adfe04ed9c0","type":"debug","z":"9b767865f34dd0a4","name":"debug 231","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":480,"wires":[]},{"id":"a3ee56646036a1c2","type":"modbus-write","z":"9b767865f34dd0a4","name":"Encender Aire Salón","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"4ba90fedac0858b8","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":560,"y":400,"wires":[["76456515ebcffec9"],[]]},{"id":"b05921e4eaba26a8","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está apagado?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.aasalon_estado","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"1","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":440,"wires":[["a3ee56646036a1c2"],["7238b515ca4aec14"]]},{"id":"7238b515ca4aec14","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está encendido?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.aasalon_estado","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"0","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":480,"wires":[["fb53cc9bd51a1711"],[]]},{"id":"76456515ebcffec9","type":"debug","z":"9b767865f34dd0a4","name":"debug 232","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":400,"wires":[]},{"id":"fb53cc9bd51a1711","type":"modbus-write","z":"9b767865f34dd0a4","name":"Apagar Aire Salón","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"4ba90fedac0858b8","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":790,"y":480,"wires":[["11677adfe04ed9c0"],[]]},{"id":"82be53370c0b0442","type":"comment","z":"9b767865f34dd0a4","name":"ON/OFF Aire Salón - Pulsador","info":"","x":220,"y":380,"wires":[]},{"id":"f7fddb7f8523c8a6","type":"server-state-changed","z":"9b767865f34dd0a4","name":"Switch Aire Salón","server":"14a7116f.656e3f","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.aire_salon_on_off","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":640,"wires":[["c929671fa0bacc27"],["af87e71b8f88a3fb"]]},{"id":"2e890e1fd26dd3db","type":"debug","z":"9b767865f34dd0a4","name":"debug 233","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":620,"wires":[]},{"id":"ce822c04c9b61706","type":"debug","z":"9b767865f34dd0a4","name":"debug 234","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":680,"wires":[]},{"id":"c929671fa0bacc27","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está apagado ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.aasalon_estado","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"1","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":620,"wires":[["21810a44c62a8719"],[]]},{"id":"21810a44c62a8719","type":"modbus-write","z":"9b767865f34dd0a4","name":"Encender Aire Salón","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"4ba90fedac0858b8","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":580,"y":620,"wires":[["2e890e1fd26dd3db"],[]]},{"id":"af87e71b8f88a3fb","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está encendido ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.aasalon_estado","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"0","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":680,"wires":[["23979ecb2fe3efd8"],[]]},{"id":"23979ecb2fe3efd8","type":"modbus-write","z":"9b767865f34dd0a4","name":"Apagar Aire Salón","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"4ba90fedac0858b8","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":590,"y":680,"wires":[["ce822c04c9b61706"],[]]},{"id":"969db721b0068cd6","type":"server-state-changed","z":"9b767865f34dd0a4","name":"Cambia Modo Aire Salón","server":"14a7116f.656e3f","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.aire_salon_modos","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Auto","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":820,"wires":[["216308f52205259c"],["1a5bbb54f91905a5"]]},{"id":"ec9fa3d0aa3a8582","type":"debug","z":"9b767865f34dd0a4","name":"debug 237","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":860,"wires":[]},{"id":"216308f52205259c","type":"api-current-state","z":"9b767865f34dd0a4","name":"Es Auto?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.aire_salon_modos","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"1","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":800,"wires":[["4fc3c19908f358d4"],[]]},{"id":"1a5bbb54f91905a5","type":"api-current-state","z":"9b767865f34dd0a4","name":"Es Cooling?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"Cooling","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.aire_salon_modos","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":860,"wires":[["3c8291b9706c9ed4"],["9c418e32b1b6e72f"]]},{"id":"9c418e32b1b6e72f","type":"api-current-state","z":"9b767865f34dd0a4","name":"Es Heating?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"Heating","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.aire_salon_modos","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"3","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":920,"wires":[["1ca4e0ee2e13110d"],["39c87339731c0bcb"]]},{"id":"39c87339731c0bcb","type":"api-current-state","z":"9b767865f34dd0a4","name":"Es Fan?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"Fan","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.aire_salon_modos","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"4","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":980,"wires":[["e07a6e5eb53314d6"],["241cdb249d5ef917"]]},{"id":"241cdb249d5ef917","type":"api-current-state","z":"9b767865f34dd0a4","name":"Es Dry?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"Dry","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.aire_salon_modos","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"5","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":1040,"wires":[["51a2a6eb9e167261"],[]]},{"id":"409f065d0e4c332e","type":"modbus-write","z":"9b767865f34dd0a4","name":"Actualiza Modo Aire Salón","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"4ba90fedac0858b8","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":890,"y":920,"wires":[["ec9fa3d0aa3a8582"],[]]},{"id":"57e838d91ef2d34d","type":"comment","z":"9b767865f34dd0a4","name":"ON/OFF Aire Salón - Interruptor","info":"","x":190,"y":560,"wires":[]},{"id":"4fc3c19908f358d4","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está en Auto ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"1","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aasalon_modes","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"1","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":780,"wires":[["fa0c48a8ec831c6e"],["409f065d0e4c332e"]]},{"id":"3c8291b9706c9ed4","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está en Cooling ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"2","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aasalon_modes","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"2","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":840,"wires":[["fa0c48a8ec831c6e"],["409f065d0e4c332e"]]},{"id":"1ca4e0ee2e13110d","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está en Heating ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"3","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aasalon_modes","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"3","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":920,"wires":[["fa0c48a8ec831c6e"],["409f065d0e4c332e"]]},{"id":"e07a6e5eb53314d6","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está en Fan ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"4","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aasalon_modes","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"4","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":980,"wires":[["fa0c48a8ec831c6e"],["409f065d0e4c332e"]]},{"id":"51a2a6eb9e167261","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está en Dry ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"5","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aasalon_modes","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"5","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":1040,"wires":[["fa0c48a8ec831c6e"],["409f065d0e4c332e"]]},{"id":"fa0c48a8ec831c6e","type":"debug","z":"9b767865f34dd0a4","name":"No hago nada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":780,"wires":[]},{"id":"d5c631ef4d8a23c9","type":"server-state-changed","z":"9b767865f34dd0a4","name":"Cambia Ventilador Aire Salón","server":"14a7116f.656e3f","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.aire_salon_ventilador","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"High","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1180,"wires":[["cbc81bcd7b39a816"],["cbfad349523df680"]]},{"id":"cbc81bcd7b39a816","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está en High ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"100","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aasalon_fanspeeds","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"100","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":1160,"wires":[["091354d8a3adc772"],["224529ee7fd5ead0"]]},{"id":"091354d8a3adc772","type":"debug","z":"9b767865f34dd0a4","name":"No hago nada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":1120,"wires":[]},{"id":"cbfad349523df680","type":"api-current-state","z":"9b767865f34dd0a4","name":"Está en Low ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"50","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aasalon_fanspeeds","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"50","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":1220,"wires":[["091354d8a3adc772"],["224529ee7fd5ead0"]]},{"id":"da6630b19b85f409","type":"debug","z":"9b767865f34dd0a4","name":"debug 241","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1240,"wires":[]},{"id":"224529ee7fd5ead0","type":"modbus-write","z":"9b767865f34dd0a4","name":"Actualiza Ventilador Aire Salón","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"4","quantity":"1","server":"4ba90fedac0858b8","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":770,"y":1180,"wires":[["da6630b19b85f409"],[]]},{"id":"568f425d09de4020","type":"server-state-changed","z":"9b767865f34dd0a4","name":"Cambia Setpoint Aire Salón","server":"14a7116f.656e3f","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.aire_salon_setpoint","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1380,"wires":[["f2f423ea2a04867c"]]},{"id":"2da7474f5c5e7387","type":"debug","z":"9b767865f34dd0a4","name":"debug 242","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1480,"wires":[]},{"id":"3c8d51b1d769a566","type":"function","z":"9b767865f34dd0a4","name":"x10","func":"msg.payload = msg.payload * 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1480,"wires":[["d8dbe4d072f185f1"]]},{"id":"d8dbe4d072f185f1","type":"modbus-write","z":"9b767865f34dd0a4","name":"Actualiza Setpoint Aire Salón","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"1","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"4ba90fedac0858b8","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":680,"y":1480,"wires":[["2da7474f5c5e7387"],[]]},{"id":"f2f423ea2a04867c","type":"api-current-state","z":"9b767865f34dd0a4","name":"Es el mismo valor que hay ahora?","server":"14a7116f.656e3f","version":3,"outputs":2,"halt_if":"payload","halt_if_type":"msg","halt_if_compare":"is","entity_id":"sensor.aasalon_setpoint","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":1380,"wires":[["8d8c3b6736a83715"],["0ec633141af1e563"]]},{"id":"8d8c3b6736a83715","type":"debug","z":"9b767865f34dd0a4","name":"No hago nada","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1360,"wires":[]},{"id":"0ec633141af1e563","type":"api-current-state","z":"9b767865f34dd0a4","name":"Nuevo valor Setpoint Aire Salón","server":"14a7116f.656e3f","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.aire_salon_setpoint","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":1480,"wires":[["3c8d51b1d769a566"]]},{"id":"4ba90fedac0858b8","type":"modbus-client","name":"EW11A","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.1.207","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":2500,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true},{"id":"3774f5f79ad35c81","type":"ha-entity-config","server":"14a7116f.656e3f","deviceConfig":"","name":"ONOFF","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"aasalon_estado"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"entity_picture","value":""},{"property":"device_class","value":"running"}],"resend":false,"debugEnabled":false},{"id":"4886f9b80f14293b","type":"ha-entity-config","server":"14a7116f.656e3f","deviceConfig":"","name":"SETPOINT","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"aasalon_setpoint"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"ff6e4de3b6e421b9","type":"ha-entity-config","server":"14a7116f.656e3f","deviceConfig":"","name":"LOCALTEMP","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"aasalon_localtemperature"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"c7b4021aebfa89be","type":"ha-entity-config","server":"14a7116f.656e3f","deviceConfig":"","name":"MODES","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"aasalon_modes"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"entity_picture","value":""},{"property":"device_class","value":"aqi"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"6a6951a4a1f1e922","type":"ha-entity-config","server":"14a7116f.656e3f","deviceConfig":"","name":"SPEEDS","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"aasalon_fanspeeds"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"entity_picture","value":""},{"property":"device_class","value":"aqi"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"14a7116f.656e3f","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":true}]